@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  @include border;
  padding: 5px;
}
.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.fieldwrapper {
  @include fieldwrapper;
}

.container button {
  @include button;
  width: 100%;
  background-color: green;
  color: $font-on-main-color;
}
